/* Make Global style Dracula black */
:root {
  --bg-color: #282a36;
  --fg-color: #f8f8f2;
  --border-color: #44475a;
  --accent-color: #bd93f9;
  --selection-color: #44475a;
}

body,
html {
  background-color: var(--bg-color);
  color: var(--fg-color);
}
